.wrapper {
    width: 450px;
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }
}

.userName {
    font-weight: 700;
    margin-bottom: 5px;
    background-image: url('../../../../../assets/userIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 23px;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    padding: 0px 5px;
    font-size: 20px;
    line-height: 20px;
}
